<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="Style.css">
    <title>Title</title>
</head>

<body>
<nav>
    <a href="index.php?cmd=show_book_list" id="book-list-link">Raamatud</a>
    <span>|</span>
    <a href="index.php?cmd=show_book_form" id="book-form-link">Lisa raamat</a>
    <span>|</span>
    <a href="index.php?cmd=show_author_list" id="author-list-link">Autorid</a>
    <span>|</span>
    <a href="index.php?cmd=show_author_form" id="author-form-link">Lisa autor</a>
</nav>
<br>

<table id="list">
    <tr>
        <th>Nimi</th>
        <th>Perekonnanimi</th>
        <th>Hinne</th>
    </tr>

    <tpl tpl-foreach="$authors as $author">
        <tr>
            <td><a href="index.php?cmd=show_author_edit_form&id={{ $author->id }}">{{ $author->firstName }}</a> </td>
            <td> {{ $author->lastName }} </td>
            <td> {{ $author->grade }} </td>
        </tr>
    </tpl>

</table>

<b id='message-block'>
    {{ $message }}
</b>

<footer>
    ICD0007
</footer>

</body>
</html>
