<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="Style.css">
    <title>Title</title>
</head>

<body>

<nav>
    <a href="index.php?cmd=show_book_list" id="book-list-link">Raamatud</a>
    <span>|</span>
    <a href="index.php?cmd=show_book_form" id="book-form-link">Lisa raamat</a>
    <span>|</span>
    <a href="index.php?cmd=show_author_list" id="author-list-link">Autorid</a>
    <span>|</span>
    <a href="index.php?cmd=show_author_form" id="author-form-link">Lisa autor</a>
</nav>
<br>
<br>

<form method="post" action="http://localhost:8080/index.php?cmd=show_author_edit_form">

    <input type="hidden" name="id" value="{{$author -> id}}">
    <table id="add">
        <tr>
            <td><label> Eesnimi: </label></td>
            <td><label><input type="text" name="firstName" class="input" value="{{$author -> firstName}}"></label><br>
            </td>
        </tr>
        <tr>
            <td><label> Perekonnanimi: </label></td>
            <td><label><input type="text" name="lastName" class="input" value="{{$author -> lastName}}"></label> <br>
            </td>
        </tr>
        <tr>
            <td>Hinne:</td>
            <td class="grade_cells">
                <tpl tpl-foreach="range(1,5) as $grade">
                    <label>
                        <input type="radio" name="grade"
                               tpl-checked="$grade == $author->grade"
                               value="{{$grade}}" >{{$grade}}
                    </label>
                </tpl>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" id="save" name="deleteButton" value="kustuda">
                <input type="submit" id="save" name="submitButton" value="salvesta">
            </td>

        </tr>
    </table>

    <b id="error-block">
        <tpl tpl-if="$isError">
            <strong> {{ $error }} </strong>
        </tpl>
    </b>

    <footer>
        ICD0007
    </footer>
</form>
</body>
</html>