<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="Style.css">
    <title>Harjutustund 1</title>
</head>

<body>
<nav>
    <a href="index.php?cmd=show_book_list" id="book-list-link">Raamatud</a>
    <span>|</span>
    <a href="index.php?cmd=show_book_form" id="book-form-link">Lisa raamat</a>
    <span>|</span>
    <a href="index.php?cmd=show_author_list" id="author-list-link">Autorid</a>
    <span>|</span>
    <a href="index.php?cmd=show_author_form" id="author-form-link">Lisa autor</a>
</nav>
<br>
<table id="list">
    <tr>
        <th>Pealkiri</th>
        <th>Autorid</th>
        <th>Hinne</th>
    </tr>
    <tpl tpl-foreach="$books as $book">
        <tr>
            <td><a href="index.php?cmd=show_book_edit_form&id={{ $book->id }}">{{ $book->title }}</a></td>
            <td>{{ $book->getFullAuthorName()}}</td>
            <td>{{ $book->grade }}</td>
        </tr>
    </tpl>

</table>

<b id='message-block'>
    {{ $message }}
</b>

<footer>
    ICD0007
</footer>
</body>
</html>