<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="Style.css">
    <title>Title</title>
</head>
<body>
<nav>
    <a href="index.php?cmd=show_book_list" id="book-list-link">Raamatud</a>
    <span>|</span>
    <a href="index.php?cmd=show_book_form" id="book-form-link">Lisa raamat</a>
    <span>|</span>
    <a href="index.php?cmd=show_author_list" id="author-list-link">Autorid</a>
    <span>|</span>
    <a href="index.php?cmd=show_author_form" id="author-form-link">Lisa autor</a>
</nav>
<br>
<br>
<form method="post" action="http://localhost:8080/index.php?cmd=show_book_form">

    <table id="add">
        <tr>
            <td><label> Pealkiri: </label></td>
            <td><label>
                <input type="text" name="title" class="input" value="{{ $book->title }}">
            </label>
            </td>
        </tr>
        <tr>
            <td><label> Autor 1: </label></td>
            <td><label>
                <select name="author1">
                    <option value="{{ $book -> authorID }}">{{ $book -> getFullAuthorName() }}</option>
                    <tpl tpl-foreach="$authors as $author">
                        <option value="{{ $author -> id }}">
                            {{ $author -> getFullName() }}
                        </option>
                    </tpl>
                </select>
            </label>
            </td>
        </tr>
        <tr>
            <td><label>Autor 2:</label></td>
            <td><label>
                <select name="author2">
                    <option></option>
                </select>
            </label><br>
            </td>
        </tr>
        <tr>
            <td>Hinne:</td>
            <td class="grade_cells">
                <tpl tpl-foreach="range(1,5) as $grade">
                    <label>
                        <input type="radio" name="grade"
                               tpl-checked="$grade == $book->grade"
                               value="{{$grade}}">{{$grade}}
                    </label>
                </tpl>
            </td>
        </tr>
        <tr>
            <td>Loetud:</td>
            <td class="grade_cells">
            <label>
                <input type="checkbox" name="isRead"
                       value="1" tpl-checked="$book->isRead">
            </label>
            </td>
        </tr>
        <tr>
            <td colspan="2"><input type='submit' id="save" name='submitButton' value="salvesta"></td>
        </tr>
    </table>

    <b id="error-block">
        <tpl tpl-if="$isError">
            <!--<strong> {{ $error }} </strong>-->
        </tpl>
    </b>

    <footer>
        ICD0007
    </footer>
</form>
</body>
</html>