*{
    font-family: arial, sans-serif;
}

body {
    text-align: center;
}

footer {
    width: 50%;
    position: fixed;
    bottom: 10px;
    right: 25%;
    padding: 0.6rem;
    border-top: 5px solid #ff85e5;
}

nav {
    background-color: #ff85e5;
    width: 100%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    font-size: large;
}

nav a{
    font-size: large;
}

#add{
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: #ff85e5 solid ;

}

#add td{
    padding: 5px;
    font-size: x-large;
    /*border: #ff85e5 solid;*/

}

.input {
    width: 20rem;
    height: 25px;

}

select{
    width: 100%;
    position: relative;
    line-height: 1.3;
    padding-top: 10px;
    font-size: medium;
}

#save{
    background-color: #ff85e5;
    border-color: #ff85e5;
}

#list{
    text-align: center;
    border-collapse: collapse;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
}

#list td {
    text-align: center;
    padding: 20px

}

.grade_cells {
    text-align: left;
}

th {
    border-bottom: 10px solid #ff85e5;
    width: 30%;
}

input, select{
    font-size: large;

}

